# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [7]:
weather_data_df = pd.read_csv('weather_data.csv')
weather_data_df.head(10)

,city,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date
0,vaini,-21.2000,-175.2000,82.40,83,75,9.22,TO,1612670002
1,kodiak,57.7900,-152.4072,33.80,60,1,5.75,US,1612670002
2,jamestown,42.0970,-79.2353,15.80,53,1,6.91,US,1612669912
3,tasiilaq,65.6145,-37.6368,33.80,51,50,21.85,GL,1612669433
4,ushuaia,-54.8000,-68.3000,48.20,76,75,12.66,AR,1612670002
5,albany,42.6001,-73.9662,21.99,51,7,1.77,US,1612669950
6,tiksi,71.6872,128.8694,-25.40,85,100,6.06,RU,1612669983
7,taltal,-25.4000,-70.4833,63.46,76,5,2.35,CL,1612669538
8,khorramabad,33.4878,48.3558,42.49,84,100,3.42,IR,1612670003
9,russell,32.3502,-85.1999,42.80,87,90,5.75,US,1612670003

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [9]:
gmaps.configure(api_key=g_key)

In [15]:
locations = weather_data_df[["Lat", "Lng"]].astype(float)
weight = weather_data_df['Humidity'].astype(float)

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)
fig.add_layer(heat_layer)

fig = gmaps.figure()

fig.add_layer(heat_layer)


fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure